* {
  margin: 0%;
  padding: 0%;
}
.nav {
  width: auto;
  height: 125px;
  display: inline-flex;
  background-color: rgb(245, 241, 241);
}
.nav img {
  height: 50px;
  width: 50px;
  margin-left: 400px;
  margin-top: 50px;
}
.nav p {
  margin: 25px;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-style: oblique;
}
.user {
  margin-top: 20px;
  margin-left: 370px;
}
.user input {
  border-radius: 15px;
  margin: 25px;
  background-color: azure;
  text-align: center;
  font-weight: bold;
  width: 125px;
  height: 30px;
}
.partab {
  width: 80%;
  height: auto;
  display: flex;
  margin-left: 150px;
  margin-top: 50px;
  background-color: hsl(0, 0%, 96%);
}
.parta {
  height: auto;
}
.balance {
  padding-bottom: 50px;
}
.balance h3 {
  font-size: 25px;
  margin-left: 35px;
  margin-top: 10px;
}
.balance p {
  margin-left: 35px;
  margin-top: 5px;
}
.sheet {
  border: 0.01px solid rgb(211, 205, 205);
  border-radius: 2px;
  margin-left: 30px;
  margin-bottom: 50px;
  width: 580px;
  height: 500px;
  background-color: white;
  overflow: scroll;
}
.deposit {
  border-bottom: 1px solid rgb(221, 214, 214);
  padding: 25px;
}
.deposit b {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 6px;
  border-radius: 8px;
}
.withdraw {
  border-bottom: 1px solid rgb(227, 221, 221);
  padding: 20px;
}
.withdraw b {
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 6px;
  font-size: 16px;
}
.date {
  margin-left: 25px;
  font-size: 18px;
}
.rs {
  font-size: 18px;
  text-align: right;
  font-weight: bold;
}
.Total {
  text-align: right;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 40px;
}
.box {
  display: block;
  font-size: 15px;
  width: 500px;
  height: 150px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: orange;
  margin-top: 50px;
}
.box p {
  margin-left: 25px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.box input {
  margin-left: 5px;
  background-color: #ffd992;
  width: 150px;
  height: 25px;
  border-radius: 5px;
}
.box button {
  width: 25px;
}
.box button {
  width: 50px;
  height: 25px;
}
.text-box1 {
  display: flex;
}
.text-box1 p {
  margin-left: 50px;
  font-size: 15px;
}
/* ---------------------------------------box2 --------------------------------------- */
.box1 {
  display: block;
  font-size: 15px;
  width: 500px;
  height: 150px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: green;
  margin-top: 25px;
}
.box1 p {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  margin-left: 20px;
}
.box1 input {
  margin-left: 35px;
  width: 150px;
  height: 22px;
  background-color: rgb(161, 253, 161);
  border-radius: 5px;
}
.box1 button {
  width: 50px;
  height: 25px;
}
/* -------------------------------------box 3-------------------------------------------- */
.box2 {
  display: block;
  width: 500px;
  height: 150px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: palevioletred;
  margin-top: 25px;
}
.box2 p {
  margin-left: 25px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.box2 input {
  margin-left: 5px;
  width: 150px;
  height: 25px;
  background-color: pink;
  border-radius: 5px;
}
.input {
  margin-left: 25px;
}
.box2 button {
  width: 50px;
  height: 25px;
}
.text {
  display: flex;
  margin-left: 15px;
}
.text p {
  font-size: 15px;
  font-style: none;
}
